<template>
  <div class="results-column">
    <div class="zan-box-shadow">
      <click-outside :handler="handleClickOutside">
        <div class="results-img-wrapper">
          <img
            @click="uploadFilePrompt('file-input-key-'+indexWrap)"
            class="featured full-width"
            :src="imageUrl"
          >
          <input
            class="hidden-file-input"
            type="file"
            @change="uploadFile(indexWrap)"
            :id="createFileKey(key,indexWrap)"
            :ref="createFileKey(key,indexWrap)"
          >
        </div>
        <div class="unique-results-wrapper">
          <div class="full-width unboosted">
            <div class="col-sm-6 left no-padding">
              <a href="#" class="view-activity zan-purple">View Activity</a>
            </div>
            <div class="col-sm-6 right no-padding">
              <a href="#" class="btn view-activity-btn zan-purple-bg right">Medi
                <strong>boost</strong>
              </a>
            </div>
          </div>
          <div class="interactions-wrapper full-width">
            <div class="col-sm-12 interations">
              <i class="fa fa-eye" aria-hidden="true"></i>
              <p>{{ getPost.views }}</p>
              <i class="fa fa-heartbeat zan-red" aria-hidden="true"></i>
              <p>{{ getPost.likes }}</p>
              <i
                class="fa fa-comment"
                @click="loadTheComments(getPost.id ,indexWrap)"
                aria-hidden="true"
              ></i>
              <p>{{ getPost.comments }}</p>
              <a href class="more right">
                <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
              </a>
            </div>
          </div>
          <div class="my-posts-edit-wrapper row">
            <p class="title zan-black col-12 post-not-input">
              <span class="field-value" v-show="!showField('title')" @click="focusField('title')">
                {{ getPost.title }}
                <i
                  v-show="!showField('title')"
                  class="fa fa-pencil-square-o zan-black edit-wrapper right"
                  aria-hidden="true"
                ></i>
              </span>
            </p>
            <input
              v-model="getPost.title"
              v-show="showField('title')"
              type="text"
              :id="'item-title-make-unique'"
              @keydown.enter="updatePost"
              @keydown.esc="cancelEditing"
              class="form-control col-12"
              autofocus
            >

            <p
              class="summary zan-black col-12 post-not-input"
              v-html="getPost.description"
              v-show="!showField('description')"
              @click="focusField('description')"
            >
              <i
                v-show="!showField('description')"
                class="fa fa-pencil-square-o zan-black edit-wrapper right"
                aria-hidden="true"
              ></i>
            </p>
            <textarea
              v-model="getPost.description"
              v-show="showField('description')"
              id="user-description"
              type="text"
              class="col-12 field-value form-control"
              @blur="blurField"
              rows="5"
              placeholder="description"
              autofocus
            ></textarea>
            <div class="commentActivity" v-show="typeof post.id != 'undefined'">
              <p
                class="summary zan-black post-not-input"
                @click="focusField('commentContent')"
                v-show="!showField('commentContent')"
              >
                <span
                  v-show="post.commentContent == '' || typeof post.commentContent == 'undefined'"
                >Add a comment...</span>

                {{post.commentContent}}
              </p>
              <input
                v-model="post.commentContent"
                @blur="blurField"
                v-show="showField('commentContent')"
                id="user-commentContent"
                type="text"
                class="field-value form-control"
                rows="5"
                placeholder="Add a comment..."
                autofocus
                @keydown.enter="addComment"
              >
              <div class="text-center">
                <button
                  v-show="showField('commentContent')"
                  @click="addComment"
                  class="btn zan-purple-bg add-comment-button update-profile-btn zan-white"
                >Add Comment</button>
              </div>
            </div>
          </div>

          <div class="feed-wrapper">
            <p class="title zan-black">{{ getPost.title }}</p>
            <p class="summary zan-black">{{ getPost.description }}</p>
          </div>

          <div class="user-comment-wrapper full-width">
            <div class="row user" v-for="(commentObj,index) in getPost.commentsList">
              <div class="col-sm-12">
                <img
                  src="https://scienceoxford.com/wp-content/uploads/2018/03/avatar-male.jpg"
                  class="full-width left"
                >
                <p class="no-padding zan-black">
                  <strong>{{ getUser.email }} said</strong>
                  {{ commentObj.content }}
                </p>
              </div>
            </div>
          </div>
          <div v-show="typeof post.id == 'undefined'" class="text-center">
            <button
              v-show="!showField('commentContent')"
              @click="updatePost"
              class="btn zan-purple-bg update-profile-btn zan-white"
            >Add Post</button>
          </div>
        </div>
      </click-outside>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import { mapActions } from "vuex";
import ClickOutside from "onclick-outside";
import Uploader from "../../helpers/Uploader";
import Utils from "../../helpers/Utils";
import Vue from "vue";

export default {
  props: ["post", "canEdit", "indexWrap", "orgId", "allPosts"],
  computed: {
    getPost: function() {
      if (typeof this.allPosts[this.indexWrap]["views"] == "undefined") {
        this.allPosts[this.indexWrap]["views"] = 0;
      }
      //because attributes pulled from get post they get updated in the template since in computed
      if (typeof this.post.commentContent == "undefined") {
        //this.post.commentContent = ""
      }

      console.log("this post commentslist");
      console.log(JSON.stringify(this.allPosts[this.indexWrap]));
      this.allPosts[this.indexWrap]["likes"] = this.fillEmpty(
        this.allPosts[this.indexWrap]["likes"]
      );
      this.allPosts[this.indexWrap]["comments"] = this.fillEmpty(
        this.allPosts[this.indexWrap]["comments"]
      );
      this.allPosts[this.indexWrap]["views"] = this.fillEmpty(
        this.allPosts[this.indexWrap]["views"]
      );

      return this.allPosts[this.indexWrap];
    },

    getIndex: function() {
      return this.indexWrap;
    },

    ...mapGetters(["posts", "getUser"])
  },
  data() {
    return {
      editOffset: -1,
      editPostOri: {},
      btnClicked: false,
      editField: "",
      key: "file-input-key",
      files: [],
      imageUrl: "https://via.placeholder.com/400"
    };
  },
  updated() {
    if (
      typeof this.allPosts[this.indexWrap]["media"] != "undefined" &&
      (typeof this.allPosts[this.indexWrap]["media"]["id"] != "undefined" &&
        this.allPosts[this.indexWrap]["media"]["id"] != "")
    ) {
      this.imageUrl = Utils.privateMedia(
        this.allPosts[this.indexWrap]["media"]["id"]
      );
    } else {
      this.imageUrl = "https://via.placeholder.com/400";
    }
  },
  created() {
    //needed for when comments are not available to update the state
    if (
      typeof this.allPosts[this.indexWrap]["media"] != "undefined" &&
      (typeof this.allPosts[this.indexWrap]["media"]["id"] != "undefined" &&
        this.allPosts[this.indexWrap]["media"]["id"] != "")
    ) {
      this.imageUrl = Utils.privateMedia(
        this.allPosts[this.indexWrap]["media"]["id"]
      );
    } else {
      this.imageUrl = "https://via.placeholder.com/400";
    }
  },
  mounted() {
    //this is so show after submit
  },
  components: {
    ClickOutside
  },
  methods: {
    fillEmpty(value) {
      console.log("value");
      console.log(value);
      console.log();
      if (
        value == "" ||
        typeof value == "undefined" ||
        isNaN(parseInt(value))
      ) {
        return 0;
      } else {
        return value;
      }
    },
    addComment() {
      var contentCopy = this.post.commentContent;

      var self = this;

      this.$store
        .dispatch("addCommentHandler", {
          comment: { content: contentCopy },
          postId: this.post.id,
          postIndex: this.getIndex
        })
        .then(function() {
          self.editField = "";
          if (typeof self.allPosts != "undefined") {
            // this resets comment after submit have to now blur
            self.allPosts[self.indexWrap]["comments"]++;
            self.allPosts[self.indexWrap]["commentContent"] = "";
            self.blurField();
          }
        });
    },
    focusField(name) {},
    blurField() {
      this.editField = "";
    },
    showField(name) {
      //SIMULATE

      return this.editField == name;
    },
    loadTheComments(thePostId, theIndex) {
      if (typeof thePostId != "undefined") {
        this.$store.dispatch("loadComments", {
          index: theIndex,
          postId: thePostId
        });
      }
    },
    updatePost() {
      this.blurField();

      this.$store.dispatch("editPostHandler", {
        post: this.allPosts[this.indexWrap],
        index: this.indexWrap
      });
    },
    cancelEditing() {
      this.$set(this.posts, this.editOffset, this.editPostOri);
      this.editOffset = -1;
      this.editPostOri = {};
      this.editPost = {};
    },
    handleClickOutside(e) {
      this.blurField();
    },
    createFileKey(key, index) {
      return "file-input-key-" + index;
    },
    uploadFile(indexWrap) {
      //console.log("well trying to figure out the upload now rough")
      var refId = "file-input-key";

      var element = document.getElementById(refId + "-" + indexWrap);

      this.files = this.$refs["file-input-key-" + indexWrap]["files"];

      Uploader.start(
        this.files,
        this.start,
        this.success,
        this.progress,
        this.error
      );
    },
    async start(index, response) {
      const imageRead = Utils.image(response);

      var object = {};

      var imageWrapHolder = await imageRead.then(function(native) {
        var i = new Image();

        i.onload = function() {};

        i.src = native;

        return {
          name: response.name,
          type: response.type,
          target: "Media",
          width: i ? i.width : undefined,
          height: i ? i.height : undefined
        };
      });

      return imageWrapHolder;
    },
    success(index, response) {
      Vue.notify({
        group: "loggedIn",
        type: "success",
        text: "Image Uploaded Successfully"
      });

      if (typeof this.allPosts[this.indexWrap]["media"] == "undefined") {
        this.allPosts[this.indexWrap]["media"] = {};
      }

      this.allPosts[this.indexWrap]["media"]["id"] = response.id;
      this.imageUrl = Utils.privateMedia(this.post.media.id);
      this.$store.dispatch("updatedImageInState", {
        object: this.post,
        index: this.indexWrap,
        type: "post"
      });
    },
    progress(index, response) {},
    error(index, response) {
      Vue.notify({
        group: "loggedIn",
        type: "error",
        text: response.error
      });
    },
    uploadFilePrompt(idKey) {
      if (!this.canEdit) {
        return false;
      }

      var fileInput = document.getElementById(idKey);

      fileInput.click();
    }
  }
};
</script>