<!-- Nav Menu Item -->
<template>
  <click-outside :handler="handleClickOutside">
    <div c>
      <div @click="uploadFilePrompt('file-input-'+entryKey)" class="results-img-wrapper">
        <div class="featured full-width card-back-img">
          <img :src="imageUrl">
        </div>
        <input
          class="hidden-file-input"
          type="file"
          @change="uploadFile(entryKey);recordEdit(entryKey);"
          :id="createFileKey(entryKey)"
          :ref="createFileKey(entryKey)"
        >
      </div>

      <div class="section-title-wrapper">
        <h5 class="section-title zan-black">
          <span
            :id="'-section-'+entryKey"
            @click="focusSectionField('title',entryKey,$event);"
            v-show="!showSectionField('title',entryKey)"
          >
            {{searchText}}
            <i
              v-show="!showSectionField('title',entryKey)"
              class="fa fa-pencil-square zan-black edit-wrapper right"
              aria-hidden="true"
            ></i>
          </span>
        </h5>
        <input
          @change="recordEdit(entryKey)"
          v-bind:value="searchText"
          v-on:input="searchText = $event.target.value"
          v-show="showSectionField('title',entryKey)"
          type="text"
          class="form-control section-title-input"
          @keydown.enter="$event.target.blur()"
        >
      </div>

      <p class="summary light-grey">
        <span
          :id="'-section-'+entryKey"
          class="field-value"
          @click="focusSectionField('description',entryKey,$event)"
          v-show="!showSectionField('description',entryKey)"
        >
          {{descriptionText}}
          <i
            v-show="!showSectionField('description',entryKey)"
            class="fa fa-pencil-square zan-black edit-wrapper right"
            aria-hidden="true"
          ></i>
        </span>
      </p>
      <textarea
        @change="recordEdit(entryKey)"
        v-bind:value="descriptionText"
        v-on:input="descriptionText = $event.target.value"
        v-show="showSectionField('description',entryKey)"
        type="text"
        class="form-control section-description"
        rows="3"
        @keydown.enter="$event.target.blur()"
      ></textarea>
    </div>
    <div class="text-center">
      <button @click="updatePost(itemActive)" class="btn zan-purple-bg update-profile-btn">
        <span class="zan-white-important" v-if="getSection.borned">Update</span>
        <span class="zan-white-important" v-else>Create</span>
      </button>
    </div>
  </click-outside>
</template> 

<script>
import { mapGetters } from "vuex";
import { mapActions } from "vuex";
import Uploader from "../../helpers/Uploader";
import Utils from "../../helpers/Utils";
import Vue from "vue";
import ClickOutside from "onclick-outside";

export default {
  props: ["value", "entryKey", "itemUser", "itemActive"],
  data() {
    return {
      editField: "",
      lastEditField: "",
      files: [],
      sectionKey: "",
      imageUrl: "https://via.placeholder.com/400",
      searchText:
        typeof this.searchText != "undefined"
          ? this.searchText
          : this.value.title,
      descriptionText:
        typeof this.descriptionText != "undefined"
          ? this.descriptionText
          : this.value.description
    };
  },
  created() {
    //better logic for this in User post works , needed because less calls to trigger update compared to post page
    if (
      typeof this.itemUser["sections"][this.itemActive]["entries"][
        this.entryKey
      ]["media"] != "undefined" &&
      (typeof this.itemUser["sections"][this.itemActive]["entries"][
        this.entryKey
      ]["media"]["id"] != "undefined" &&
        this.itemUser["sections"][this.itemActive]["entries"][this.entryKey][
          "media"
        ]["id"] != "")
    ) {
      //this is repetative only need one
      var picId = Utils.privateMedia(
        this.itemUser["sections"][this.itemActive]["entries"][this.entryKey][
          "media"
        ]["id"]
      );
      this.imageUrl = picId;
    }

    if (
      typeof this.itemUser["sections"][this.itemActive]["entries"][
        this.entryKey
      ]["borned"] == true
    ) {
      this.itemUser["sections"][this.itemActive]["entries"][this.entryKey][
        "creating"
      ] = false;
    }
  },
  updated() {
    if (
      typeof this.itemUser["sections"][this.itemActive]["entries"][
        this.entryKey
      ]["media"] != "undefined" &&
      (typeof this.itemUser["sections"][this.itemActive]["entries"][
        this.entryKey
      ]["media"]["id"] != "undefined" &&
        this.itemUser["sections"][this.itemActive]["entries"][this.entryKey][
          "media"
        ]["id"] != "")
    ) {
      console.log("setting again in update");
      var picId = Utils.privateMedia(
        this.itemUser["sections"][this.itemActive]["entries"][this.entryKey][
          "media"
        ]["id"]
      );
      this.imageUrl = picId;
    } else {
      console.log("setting else where");
      this.itemUser["sections"][this.itemActive]["entries"][this.entryKey][
        "imageUrl"
      ] = "https://via.placeholder.com/400";
      this.imageUrl = "https://via.placeholder.com/400";
      this.itemUser["sections"][this.itemActive]["entries"][this.entryKey][
        "media"
      ] = {};
      this.itemUser["sections"][this.itemActive]["entries"][this.entryKey][
        "media"
      ]["id"] = "";
    }
  },
  computed: {
    ...mapGetters(["userFake", "getUser"]),
    getSection: function() {
      return this.itemUser["sections"][this.itemActive]["entries"][
        this.entryKey
      ];
    }
  },
  mounted() {},
  components: {
    ClickOutside
  },
  methods: {
    ...mapActions({
      editProfile: "editProfileHandlerAuth"
    }),
    uploadFilePrompt(idKey) {
      var fileInput = document.getElementById(idKey);

      fileInput.click();
    },
    recordEdit(sectionKey) {
      this.itemUser["sections"][this.itemActive]["entries"][sectionKey][
        "edited"
      ] = true;
    },
    focusSectionField(name, key, $event) {
      this.editField = this.$props.entryKey + "-" + name;
      this.lastEditField = $event.target.id;
    },
    showSectionField(name, key) {
      return (
        this.value[name] == "" ||
        this.editField == this.$props.entryKey + "-" + name
      );
    },
    handleClickOutside(e) {
      if (e.target.id != this.lastEditField) {
        this.editField = "";
      }
    },
    createFileKey(key) {
      return "file-input-" + key;
    },
    uploadFile(key) {
      this.sectionKey = key;

      var refId = "file-input-" + key;

      this.files = this.$refs[refId]["files"];

      Uploader.start(
        this.files,
        this.start,
        this.success,
        this.progress,
        this.error
      );
    },
    async start(index, response) {
      const imageRead = Utils.image(response);

      var object = {};

      var imageWrapHolder = await imageRead.then(function(native) {
        var i = new Image();

        i.onload = function() {};

        i.src = native;

        return {
          name: response.name,
          type: response.type,
          target: "Media",
          width: i ? i.width : undefined,
          height: i ? i.height : undefined
        };
      });

      return imageWrapHolder;
    },
    success(index, response) {
      Vue.notify({
        group: "loggedIn",
        type: "success",
        text: "Image Uploaded Successfully"
      });

      if (
        typeof this.itemUser["sections"][this.itemActive]["entries"][
          this.entryKey
        ]["media"] == "undefined"
      ) {
        this.itemUser["sections"][this.itemActive]["entries"][this.entryKey][
          "media"
        ] = {};
      }
      this.imageUrl = Utils.privateMedia(response.id);

      Vue.set(
        this.itemUser["sections"][this.itemActive]["entries"][this.entryKey][
          "media"
        ],
        "id",
        response.id
      );
      Vue.set(
        this.getUser["sections"][this.itemActive]["entries"][this.entryKey][
          "media"
        ],
        "id",
        response.id
      );
    },
    progress(index, response) {},
    error(index, response) {
      Vue.notify({
        group: "loggedIn",
        type: "error",
        text: response.error
      });
    },
    updatePost(slug) {
      this.itemUser["sections"][this.itemActive]["entries"][this.entryKey][
        "title"
      ] = this.searchText;
      this.itemUser["sections"][this.itemActive]["entries"][this.entryKey][
        "description"
      ] = this.descriptionText;

      this.editProfile({
        user: this.itemUser,
        slug: this.itemActive,
        entryKey: this.entryKey
      });
    }
  }
};
</script>
 