<template>
  <!-- <div @click="blurAll" class="section_container" > -->
  <div class="section_container">
    <h4 class="list-group-item-heading card-title">
      <span class="field-value" v-show="!showField('title')">{{getUser["sections"][slug]["name"]}}</span>
      <a href="#invisible-anchor-sections" @click="addSectionAndPush(slug)" class="zan-white right">
        <i class="fa fa-plus-circle zan-black title-plus right" aria-hidden="true"></i>
      </a>
    </h4>
    <click-outside :handler="handleClickOutside">
      <p class="card-desc light-grey">
        <span
          :id="slug+'-description'"
          class="field-value about"
          v-show="!showField('description')"
          @click="focusField('description',$event)"
        >
          {{userFake[slug].description}}
          <i
            v-show="!showField('description')"
            class="fa fa-pencil-square-o zan-black edit-wrapper right"
            aria-hidden="true"
          ></i>
        </span>
        
        <textarea
          v-model="userFake[slug].description"
          v-show="showField('description')"
          id="userDescription"
          type="text"
          class="field-value form-control"
          @blur="blurField"
          rows="7"
          placeholder="Description"
          ref="userDescription"
          @keydown.enter="$event.target.blur()"
          autofocus
        ></textarea>
      </p>

      <div :id="slug+'-section-top'"></div>

      <user-profile-sections :user="getUser" :entryValues="ObjectsToIterate" :active="slug"></user-profile-sections>
    </click-outside>
  </div>
</template>

<script>
import UserProfileSections from "./UserProfileSections";
import { mapGetters } from "vuex";
import { mapActions } from "vuex";
import ClickOutside from "onclick-outside";
import Vue from "vue";

export default {
  props: {
    slug: {
      default: "",
      type: String
    }
  },
  created() {
    if (typeof this.getUser["sections"][this.slug]["entries"] == "undefined") {
      this.getUser["sections"][this.slug]["entries"] = {};
    }

    this.ObjectsToIterate = this.getUser["sections"][this.slug]["entries"];

    this.getUser["tempRealKeyMap"] = {};
  },
  data() {
    return {
      editOffset: -1,
      editPost: {},
      editPostOri: {},
      btnClicked: false,
      editField: "",
      lastEditField: "",

      items: [],
      itemsToAdd: {},
      ObjectsToIterate: {}
    };
  },
  components: {
    UserProfileSections,
    ClickOutside
  },
  computed: {
    ...mapGetters(["userFake", "getUser"])
  },
  methods: {
    makeid() {
      var text = "";
      var possible =
        "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
      for (var i = 0; i < 10; i++)
        text += possible.charAt(Math.floor(Math.random() * possible.length));

      return text;
    },
    addSectionAndPush(slug) {
      const newId = this.makeid();
      const empty_post = {
        title: "Fill in A Title",
        description: "Fill In A Description",
        creating: true,
        edited: true,
        permanentKey: newId
      };

      Vue.set(
        this.getUser["sections"][slug]["entries"],
        empty_post["permanentKey"],
        empty_post
      );

      // this.items.unshift([])

      document.getElementById(slug + "-section-top").scrollIntoView();
    },

    focusField(name, $event) {
      this.editField = name;
      this.lastEditField = $event.target.id;
    },
    blurField() {
      this.editField = "";
    },
    showField(name) {
      //    console.log("show field called")
      return this.getUser[name] == "" || this.editField == name;
    },
    clickBtn() {
      this.btnClicked = true;
    },

    cancelEditing() {
      this.$set(this.posts, this.editOffset, this.editPostOri);
      this.editOffset = -1;
      this.editPostOri = {};
      this.editPost = {};
    },
    handleClickOutside(e) {
      if (e.target.id != this.lastEditField) {
        this.editField = "";
      }
    }
  },
  mounted() {}
};
</script>



